@charset"utf-8";

ul{
    display:flex;
    justify-content:space-between;
    list-style:none;
}
li{
    padding:0 20px;
}
.wrap{
    max-width: 960px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.wrap>div{
    background-color: #f00;
    height:300px;
    width:31.25%;
    margin-bottom:20px;
}
.wrap>div:nth-of-type(2){
    height:200px;
}